<footer>
    <div class="footer-content">
        <div class="footer-section about">
            <h2>About Us</h2>
            <p>We are a company dedicated to providing our customers with already furnished houses and make them feel
                secure about owning, enjoying the luxury of their dream home. Our mission is
                to innovate and lead in our industry.</p>
        </div>
        <div class="footer-section links">
            <h2>Quick Links</h2>
            <ul>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms and condition</a></li>
            </ul>
        </div>
        <div class="footer-section contact">
            <h2>Contact Us</h2>
            <!-- <p>Email: allanmwangi800@gmail.com</p> -->
            <p>Phone: +254759710461</p>
            <p>Address: Moi Avenue, Nairobi, Kenya</p>
        </div>
    </div>

    <h2>
        <p>Copyright © WestView Homes 2024</p>
    </h2>
    <div class="icons">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
    </div>
</footer>
