/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    box-shadow: 0 0 10px #00000091;
    background: #0000009c;
}
#chk1{
    display: none;
}
i{
    color: white;
    cursor: pointer;
}

header .search-box{
    flex: 1;
    position: relative;
}
.search-box input{
    width: 40%;
    height: 40px;
    border: none;
    outline: none;
    background: white;
    border-radius: 30px;
    color: gray;
    font-size: 16px;
    text-align: center;
    padding-left: 5px;
    padding-right: 40px;
}

.search-box button{
    cursor:pointer ;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: none;
    position: absolute;
    top: 0;
    right:0;
    transform: scale(0.9);
    background: green;
}

header ul{
    flex: 2;
    display: flex;
    justify-content: space-evenly;
}
header ul li{
    list-style: none;
}
header ul li a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 15px;
}
header ul li a:hover{
    border-bottom: 2px solid cadetblue;
}
header .menu{
    font-size: 2.5em;
    display: none;
}
@media (max-width:1000px){
    .search-box button{
        position: absolute;
    }
    header ul{
        position: fixed;
        top: 100px;
        right: -100%;
        background:rgba(0, 0, 0, 0.5);
        height: calc((100vh - 100px));
        width: 50%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
    }
    header .menu{
        display: block;
        width: 100px;
        text-align: center;
    }
    #chk1:checked ~ ul{
        right: 0;
    }
}

@media (max-width:600px) {
    header ul{
        width: 100%;
    }
}
.MainContainer{
    height:100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.815),rgba(75, 42, 99, 0.664)),url(./meeting.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
        display: flex;
            align-items: center;
            justify-content: center;
}
.container3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 50%;
    height: 50vh;
    background: rgba(255, 255, 255, 0.863);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 0;
    gap: 10px;
}

/* @media only screen and (min-width: 728px) {
    .container3 {
        width: 100%;
        height: 100%;

    }
} */

.container3 form {
    display: flex;
    flex-direction: column;
    width: 40vw;
}

.container3 input {
    width: 100%;
    padding: 10px;
    border: none ;
    border-radius: 10px;
    margin-bottom: 10px;
}

.container3 input.submit:hover {
    background-color: rgba(55, 85, 55, 0.596);
    color: white;
    transition: 0.1s;
    transition-delay: 1s; 

}

.container3 ul li {
    list-style: none;
    margin: 5px;
}

.container3 ul li:hover {
    color: green;
    background-color: rgba(194, 158, 158, 0.644);
}

.MainContainer .info{
    width: 50%;
    height: 40vh;
    color: beige;
    display: inline-grid;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        background:  rgba(48, 48, 5, 0.178);
}
.MainContainer .info h1{
    text-transform: capitalize;
    text-decoration: none;
        color: white;
        font-weight: 600;
        padding: 10px 15px;
}
 .footer {
     background-color: #271f1f73;
     color: #f2f2f2;
     border-radius: 10px;
      padding: 10px 0;
    /*position: absolute; */
     width: 100%;
     bottom: 0;
    align-items: center;
    left: 0;
    
 }
 .footer p{
     align-items: center;
     color: white;
    }

.footer h1{
    color: red;
 }